.container {
    background: rgba(0,0,0,0.2);
    padding: 3em;
    margin: 2em 4em;
    border-radius: 20px;

    .calendarwrapeer {
        padding: 1em 0;

        & .weeklabel{
            display: grid;
            place-items: center;
            grid-template-columns: repeat(7, 30px);
            margin-bottom: 0.25em;
            gap: 1em;
        }
        
        & .calendar {
            display: grid;
            place-items: center;
            grid-template-columns: repeat(7, 30px);
            grid-template-rows: repeat(5, 30px);
            gap: 1em;

            & .day {

                & a {
                    cursor: pointer;
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    & .YearAndMonth {
        font-size: 1.5em;
        font-weight: bold;
    }

    & .schedulearea {
        background: gray;
        padding: 1em;
        border-radius: 20px;
        display: grid;
        place-items: center;

        & p{
            font-weight: bold;
        }

        & li {
            list-style: none;
            text-align: center;
            font-weight: bold;

            & button {
                cursor: pointer;
                padding: 0.7em;
                background: lightgreen;
                font-weight: bold;
                border-radius: 10px;
                margin-bottom: 0.4em;
            }
    }
}

}
