.homecontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & .calendarcontainer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    & .addschedulecontainer {
        display: grid;
        place-items: center;
    }
}
